$easing1: cubic-bezier(0.4, 0, 0.2, 1);
$easing2: cubic-bezier(0.7, 0, 0.3, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutCubic2: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic3: cubic-bezier(0.12, 0.49, 0.17, 0.87);
$easing3: cubic-bezier(.87, -.41, .19, 1.44);