input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: color("Gray-03");
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: color("Gray-03");
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: color("Gray-03");
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: color("Gray-03");
}


input[type="date"],
input[type="time"] {
    min-height: 38px;
}

.form-control {
    display: block;
    width: 100%;
    appearance: none; // Fix appearance for date inputs in Safari

    
    border: none;
    border-radius: $border-radius-base;
    height: auto;
    padding: 8px 16px;
    background-color: #fff;
}

.autosize_textarea {
    min-height: 150px;
    resize: none;
}

.form-group {
    position: relative;
    margin-bottom: 0;
    // margin-bottom: 1.25rem;
}

.#{$PROJECT_NAME}_frm {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-bd{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-ft {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}